{% extends 'Base.html' %}
{% load static %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
    <div class="flex min-h-screen">
        <div class="bg-neutral-900 w-1/6 p-3">
            <div class="flex justify-between">
                <h3 class="font-bold">Panel</h3>
                <img src="{% static 'img/burger-menu.svg' %}" alt="Icono de menu" class="h-6 w-6">
            </div>
            <br>
            <ul class="*:p-1 *:pl-0">
                <li><a href="{% url 'acceso_lista_unica' %}" ><h3 class="hover:underline">To-Do List 📝</h3></a></li>
                <li><a href="{% url 'cronometro' %}" ><h3 class="hover:underline">Cronómetro ⏱</h3></a></li>
                <li><a href="{% url 'calendario' %}"><h3 class="hover:underline">Calendario 📅</h3></a></li>
            </ul>
        </div>

        <!-- Contenido principal -->
        <div class="w-full flex flex-col justify-start min-h-screen">
            <!-- Botones de periodo -->
            <div class="w-full flex flex-col items-start px-6 pt-6">
                <div class="flex gap-2">
                    <button id="semana-actual" class="px-4 py-2 rounded hover:bg-indigo-800 transition">Semana actual</button>
                    <button id="mes" class="px-4 py-2 rounded hover:bg-indigo-800 transition">Mes</button>
                    <button id="anio" class="px-4 py-2 rounded hover:bg-indigo-800 transition">Año</button>
                </div>
            </div>

            <div class="flex flex-col lg:flex-row justify-center items-start lg:items-center gap-6 w-full px-4 py-6 lg:h-[400px]">                <!-- Gráfico de dona -->
                <div class="w-full max-w-xs mx-auto px-4">
                    <p id="cant-sesiones" class="text-center mb-5">Éxito de sesiones de estudio ({{ data.exitosas }}/{{ data.no_exitosas }})</p>
                    <canvas id="grafico-estudio-exito"></canvas>
                </div>

                <!-- Gráfico de barras -->
                <div class="w-full max-w-4xl px-4">
                    <canvas id="grafico-estudio" class="h-[400px]"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/estadisticas.js' %}"></script>
{% endblock %}