{% extends 'Base.html' %}
{% load static %}

{% block title %}Logros{% endblock %}

{% block content %}
<div class="flex min-h-screen">
    {% include 'Panel.html' %}

    <div class="flex-grow p-8">
        
        <ul id="logros" class="w-full max-w-4xl mx-auto"> 
            <div class="flex justify-between items-center mb-4 mt-5">
                <h1 class="text-2xl font-bold">Logros</h1>
                <div class="flex justify-center items-center italic">
                    <span class="border border-neutral-600 p-2 rounded-full rounded-full mr-1">Completados {{ cant_logros_completados}}/{{ logros.count }}</span>
                    <span class="border border-neutral-600 p-2 rounded-full rounded-full">Reclamados {{ cant_logros_reclamados }}/{{ logros.count }}</span>
                </div>
            </div>
            <hr class="border-neutral-600 mb-12"> 
            
            {% for logro in logros %}
                <li class="flex justify-between w-full border border-neutral-700 rounded-md mt-3 items-center bg-neutral-900 shadow-lg">
                    <div class="p-4">
                        <p class="text-lg font-semibold">{{ logro.nombre }}</p>
                        <p class="text-neutral-400">{{ logro.descripcion }} - <span class="italic">Recompensa: {{ logro.recompensa_descripcion }}</p></span>
                    </div>
                    
                    <div class="p-0 flex justify-center relative"> 
                        
                        {% if not logro.fecha_desbloqueo %} 
                            <div class="overlay-transparente">
                                <img src="{% static 'img/lock-solid.svg' %}" alt="Icono recompensa bloqueada" class="w-6 h-6">
                            </div>
                        
                        {% elif logro.fecha_desbloqueo and not logro.reclamado %}
                            <div class="overlay-transparente opacity-50"> 
                                <img src="{% static 'img/lock-solid.svg' %}" alt="Icono recompensa pendiente" class="ml-6 w-6 h-6">
                            </div>

                            <button 
                            type="button" 
                            id="reclamar-{{ logro.id }}" 
                            class="btn-overlay-transparente z-20" 
                            title="Reclamar"
                            onclick="reclamarRecompensa('{{logro.id}}')"
                            >
                                <img src="{% static 'img/gift-animado.gif' %}" alt="Reclamar recompensa" class="w-8 h-8 p-1">
                            </button>
                            
                        {% else %}
                            <div class="overlay-transparente">
                                <img src="{% static 'img/check-solid.svg' %}" alt="Icono recompensa reclamada" class="w-6 h-6">
                            </div>
                        {% endif %}
                        
                        {% with recompensa_url=''|add:logro.recompensa_url %}
                            {% if recompensa_url|slice:":4" == "vid/" %}
                                <div>
                                    <video src="{% static recompensa_url %}" 
                                            alt="{{ logro.recompensa_descripcion }}" 
                                            class="w-28 h-24 object-cover rounded-tr-md rounded-br-md"
                                            loop muted autoplay playsinline>
                                        Tu navegador no soporta el formato del video.
                                    </video>
                                </div>
                            {% else %}
                                <div>
                                    <div class="flex justify-center items-center w-28 h-24 object-cover">
                                        <img src="{% static 'img/con-volumen.svg' %}" alt="Icono recompensa genérica" class="w-12 h-12">
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
                {% if logro.fecha_desbloqueo %}
                    <p class="text-sm italic text-right text-neutral-400">
                        {% if not logro.reclamado %}Sin reclamar | {% endif %}
                        Completado - {{ logro.fecha_desbloqueo|date:"d M, Y" }}
                    </p>
                {% else %}
                    <p class="text-sm italic text-right">&nbsp;</p>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{% static 'js/recompensas/reclamar-recompensa.js' %}"></script>
{% endblock %}