{% extends 'Base.html' %}
{% load static %}

{% block title %}Logros{% endblock %}

{% block content %}
<div class="flex justify-center">
    {% include 'Panel.html' %}
    
    <!-- Logros -->
    <ul id="logros" class="w-full p-8">
        <div class="flex justify-between">
            <h2>Logros</h2>
            <div>
                <p>✔ Completados {{ cant_logros_completados}}/{{ logros.count }} | ✨ Reclamados {{ cant_logros_reclamados }}/{{ logros.count }}</p>
            </div>
        </div>
        {% for logro in logros %}
            <li class="flex justify-between w-1/3 border border-neutral-600 rounded-md mt-3 items-center">
                <div class="p-4">
                    <p class="text-lg font-bold">{{ logro.nombre }}</p>
                    <p class="text-neutral-400">{{ logro.descripcion }}</p>
                </div>
                <div class="p-0 flex justify-center {% if logro.fecha_desbloqueo %}relative{% endif %}">
                    {% if logro.fecha_desbloqueo%}
                        {% if not logro.reclamado %}
                            <button 
                            type="button" 
                            id="reclamar-{{ logro.id }}" 
                            class="btn-overlay-transparente" 
                            title="Reclamar"
                            onclick="reclamarRecompensa('{{logro.id}}')"
                            >
                                <img src="{% static 'img/gift-solid.svg' %}" alt="boton reclamar recompensa" class="w-5 h-5 p-1">
                            </button>
                        {% else %}
                            <div class="overlay-transparente">
                                <img src="{% static 'img/check-solid.svg' %}" alt="Icono recompensa reclamada" class="w-6 h-6">
                            </div>
                        {% endif %}
                    {% endif %}
                    {% with recompensa_url=''|add:logro.recompensa_url %}
                        <img src="{% static recompensa_url %}" alt="campo bd" class="w-28 h-24 object-cover rounded-tr-md rounded-br-md"> 
                    {% endwith %}
                </div>
            </li>
            {% if logro.fecha_desbloqueo %}
                <p class="text-sm italic text-right text-neutral-400">Completado - {{ logro.fecha_desbloqueo|date:"d M, Y" }}</p>
            {% else %}
                <p class="text-sm italic text-right">&nbsp;</p>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{% static 'js/recompensas/reclamar-recompensa.js' %}"></script>
{% endblock %}
