{% load static %}

<div id="cronometro-wrapper" 
     class="fixed bottom-4 right-4 z-50 
            bg-neutral-900 p-1 rounded-full shadow-lg opacity-60 hover:opacity-100
            transition-transform duration-500 ease-in-out">
        <!-- Cronómetro -->
        <button type="button" 
            id="btn-ocultar-cronometro" 
            class="hidden
                   absolute top-[70px] right-[210px] z-50 
                   bg-black/30 hover:bg-black/60 rounded-md p-0.5 
                   opacity-60 hover:opacity-100 cursor-pointer 
                   translate-x-full transition-transform" 
            title="Minimizar">

            <svg id="flecha-ocultar" 
                class="w-6 h-6 p-1 transition-transform duration-300" 
                xmlns="http://www.w3.org/2000/svg" 
                height="14" width="14" viewBox="0 0 512 512"
            >
                <path fill="#ffffff" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-105.4 105.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
            </svg>
        </button>
        <div class="w-full flex flex-col items-center justify-center relative rounded-full p-2 bg-gradient-to-r from-indigo-700 from-10% via-indigo-800 via-30% to-indigo-900 to-90%">
            <a href="{% url 'cronometro' %}">
                <p id="cronometro" class="hover:underline font-mono flex justify-center p-5 pb-1 text-4xl font-semibold text-[26px]">
                    00:00:00
                </p>
            </a>
            {% if repeticiones > 0 %}
                <div>
                    <p id="modo-actual" class="flex flex-col text-center text-sm">Estudio</p>
                </div>
            {% endif %}

            <!-- Audios -->
            <audio id="audio-fin-estudio" src="{% static 'audios/fin-estudio.mp3' %}"></audio>
            <audio id="audio-fin-descanso" src="{% static 'audios/fin-descanso.mp3' %}"></audio>
            <audio id="audio-fin-sesion-estudio" src="{% static 'audios/fin-sesion-estudio.mp3' %}"></audio>

            <!-- Botones de control -->
            <div class="flex justify-center space-x-2 my-2">
                <button id="btn-iniciar" class="bg-black/30 text-white px-3 py-2 hover:bg-black/60 rounded-full"><img src="{% static 'img/play.svg' %}" alt="Boton play" class="h-3 w-3"></button>
                <!--<button id="btn-pausar" class="bg-black/30 text-white px-3 py-2 hover:bg-black/60 rounded-full"><img src="{% static 'img/pausar.svg' %}" alt="Boton pausar" class="h-3 w-3"></button>-->
                <button id="toggle-sonido" class="hidden">
                    <img id="icono-sonido" src="{% static 'img/sin-volumen.svg' %}" alt="Icono sonido" class="h-5 w-5">
                </button>
            </div>
        </div>

        <div 
            id="cronometro-data"
            data-tiempo-estudio="{{ tiempo_estudio_segundos }}"
            data-tiempo-descanso="{{ tiempo_descanso_segundos }}"
            data-repeticiones="{{ repeticiones }}"
            data-sesion-id="{{ sesion }}"
            data-csrf-token="{{ csrf_token }}"
            data-finalizar-url="{% url 'finalizar_sesion' %}"
        ></div>
        <script src="{% static 'js/cronometro/cronometro.js' %}"></script>
        <script src="{% static 'js/sonidos-ambiente-cronometro.js' %}"></script>
</div>