@tailwind base;
@tailwind components;
@tailwind utilities;

.boton-nav {
    @apply px-2 py-2 bg-indigo-700/50 hover:bg-indigo-700/80 rounded-md;
}

.boton-aceptar {
    @apply bg-green-600 hover:bg-green-500 text-white text-semibold rounded;
}

.boton-cancelar {
    @apply bg-gray-600 hover:bg-gray-700 text-white font-semibold rounded;
}

.boton-eliminar {
   @apply bg-red-700 hover:bg-red-600 text-white font-semibold rounded;
}

.boton-cronometro {
    @apply bg-black/70 text-white px-4 py-2 hover:bg-black/80;
}

.fondo-borroso {
    @apply bg-opacity-60 backdrop-blur-sm bg-black fixed inset-0;
}

.overlay-transparente {
    @apply absolute inset-0 bg-black opacity-60 z-10 flex justify-center items-center rounded-tr-md rounded-br-md;
}

.btn-overlay-transparente {
    @apply p-1 bg-green-700/50 hover:bg-green-700/70;
}

.btn-menu-personalizar {
    @apply border border-neutral-500 p-1 hover:bg-black/50 hover:text-indigo-500 hover:border-indigo-500;
}

@layer components {
    #lista-audios > li {
        @apply flex items-center py-2 px-3 hover:bg-neutral-700/20 rounded-md;
    }
}

@layer components {
    #lista-audios > li > input {
        @apply mr-2 cursor-pointer accent-indigo-500 p-1;
    }
}

@layer components {
    #volumenCrontrol {
        @apply accent-green-500;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}