{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load tailwind_tags %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block tittle %}{% endblock %}</title>
    </head>
    <body class="bg-neutral-800 text-white flex flex-col min-h-screen">
        {% include 'Header.html' %}
        <main class="flex-grow">
            <!--<div class="bg-neutral-700 w-16 min-h-screen">sdsd</div>-->
            {% block content %}{% endblock %}
        </main>
        {% include 'Footer.html' %}
        <script src="{% static 'js/perfil.js' %}"></script>
        <script src="{% static 'js/dropdown-menu-perfil.js' %}"></script>
    </body>
</html>