<nav class="bg-neutral-900 h-16 flex items-center font-bold">
            <ul class="flex w-full items-center *:inline-block">
                <li class="px-4 py-4"><a href="{% url 'home' %}">Inicio</a></li>
                {% if is_authenticated %}
                <li class="ml-auto px-4 py-4"><a href="{% url 'CerrarSesion' %}">Cerrar sesión</a></li>
                <li class="bg-white rounded-full h-12 w-12 mr-4">
                    <img class="w-full h-full object-cover rounded-full" src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="perfil">
                </li>
                {% else %}
                <li class="ml-auto boton-nav"><a href="{% url 'IniciarSesion' %}">Iniciar sesión</a></li>
                <li class="mx-3 boton-nav"><a href="{% url 'Registrarse' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
        